*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
!src/tdf
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
etc/nginx
.vagrant
*.retry
.directory

lib
lib64
include
.Python
pip-selfcheck.json

src
!src/tdf.exttempsitepolicy
!src/tdf.extensioncentertheme
!src/tdf.migration
