/* TDF-Extras */
h1,
h2,
h3 {
  color: #00A500; }

a {
  color: #00A500; }
  a:hover {
    text-decoration: none;
    color: #31363a; }

.plone-breadcrumb ol a {
  color: #00A500; }

.plone-navbar {
  background-color: #00A500;
  box-shadow: none; }

.plone-navbar-nav > .selected > a,
.plone-navbar-nav > .selected > a:hover,
.plone-navbar-nav > .selected > a:focus,
.plone-nav > li > a:hover,
.plone-nav > li > a:focus {
  color: white;
  background-color: #2e3133; }

#portal-logo img {
  width: 215px; }

#portal-footer-wrapper a {
  color: #00A500; }

#content-header {
  background-color: #00A500;
  padding-top: 10px; }

#portal-header {
  margin: 0 auto; }

#tdf-footer-wrapper {
  padding: 30px 15px 10px 15px;
  background-color: #2e3133;
  color: #cccccc;
  text-align: center;
  clear: both; }

#tdf-footer-wrapper p {
  padding-bottom: 0px; }

#tdf-footer-wrapper abbr,
#tdf-footer-wrapper ul {
  color: #cccccc; }

#tdf-footer-wrapper a {
  color: #00A500; }

#tdf-footer-wrapper a:hover {
  color: #00A500; }

#tdf-footer-wrapper .portletWrapper {
  display: inline-block; }

#tdf-footer-wrapper .portletWrapper:first-child {
  display: block;
  border-bottom: 1px solid #4d4d4d;
  padding-bottom: 1em;
  margin-bottom: .5em; }

#tdf-footer-wrapper .portlet {
  background: transparent;
  border: 0;
  font-weight: 300;
  box-shadow: none;
  margin-bottom: 0; }

#tdf-footer-wrapper .portlet .portletContent {
  padding: 0;
  background: transparent;
  border: 0; }

#tdf-footer-wrapper .portlet .portletContent > * {
  padding: inherit; }

#tdf-footer-wrapper .portlet .portletContent li {
  background: transparent;
  display: inline-block;
  border: 0;
  white-space: nowrap;
  padding: 10px 30px; }

#tdf-footer-wrapper .portlet#portal-colophon .portletContent a {
  padding: 10px 30px; }

#tdf-footer-wrapper .portlet .portletItem:before,
#tdf-footer-wrapper .portlet .portletItem a:before {
  content: ""; }

#tdf-footer-wrapper .portlet .portletItem a {
  padding: 0;
  border: 0; }

#tdf-footer-wrapper .portlet .portletActions {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-right: 15px; }

#tdf-footer p {
  color: #ffffff;
  margin-left: 0.75em;
  margin-right: 0.75em; }

/* Twothumbs */
.thumb-rating {
  float: right;
  position: relative; }

.thumb-rating form {
  text-align: right; }

.total-thumbs-up .tally-total {
  color: green; }

.total-thumbs-down .tally-total {
  color: red; }

form input.like-button,
form input.dislike-button {
  padding: 10px 0 7px;
  background-color: transparent;
  background-image: url(++resource++cioppino.twothumbs.images/thumbs-sprite.png);
  background-repeat: no-repeat;
  border-width: 0;
  cursor: pointer;
  width: 20px;
  text-indent: -3000px;
  white-space: nowrap; }

/* Reset button styles of Plone 5  */
form input.like-button:hover,
form input.dislike-button:hover {
  box-shadow: none;
  background-color: transparent; }

form input.like-button {
  background-position: -44px -27px;
  padding-left: 0; }

form input.dislike-button {
  background-position: -18px -23px;
  margin-left: 5px; }

form .selected input.like-button {
  background-position: -44px 5px; }

form .selected input.dislike-button {
  background-position: -18px 10px; }

.twothumbs-feedback {
  position: absolute;
  z-index: 1;
  width: 400%;
  margin-left: -52%;
  padding: 4%;
  font-size: 90%;
  border: 1px solid #555;
  background-color: #ddd;
  text-align: center;
  right: 0; }

.twothumbs-feedback a.close-link:link {
  border-bottom: 0;
  float: right;
  width: 13px;
  height: 13px;
  background: url(++resource++cioppino.twothumbs.images/thumbs-sprite.png) no-repeat 0 0; }

.twothumbs-feedback a.close-link:link:hover {
  background-position: 0 -13px; }

.twothumbs-feedback a.close-link:link:active {
  background-position: 0 -26px; }

span.thumbs-up,
span.thumbs-down {
  border: 1px  solid;
  border-color: #999;
  padding: 9px 5px 9px 3px; }

span.thumbs-up {
  margin-right: 5px; }

/* frontpageview styles */
ul.latestextensionreleases,
ul.newestextensionprojects,
ul.newesttemplateprojects,
ul.latesttemplatereleases {
  list-style: none;
  padding: 0em; }

.latestextensionreleases li,
.newestextensionprojects li,
.newesttemplateprojects li,
.latesttemplatereleases li {
  clear: both;
  padding-top: 10px; }

#extension_projects span.product-leadin,
#template_projects span.product-leadin {
  display: block;
  font-size: 0.7em;
  font-color: #999; }

.product-details .product-leadin {
  font-size: .8em;
  color: #999; }

.product-details {
  padding-right: 8em; }

div.project-thumb-thumbzoom img {
  float: left;
  margin-right: 1.5em; }

#latest_extension_releases,
#latest_template_releases {
  float: left;
  margin-top: 1.5 em;
  padding-bottom: 3em;
  width: 100%; }

#extension_projects,
#template_projects {
  width: 100%;
  margin-bottom: 2em; }

.portaltype-plone-site .plone-breadcrumb {
  display: none; }

.sortby-compatibility {
  margin-top: 10px; }

.current-extensionprojects,
.current-templateprojects {
  font-size: 1.75em;
  background-color: #C0C0C0;
  border-radius: 0.3em;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  margin-top: 20px;
  margin-bottom: 30px; }
  .current-extensionprojects span,
  .current-templateprojects span {
    color: #00A500;
    font-weight: bold; }

#by-category ol {
  padding: 0; }

#portal-anontools li a {
  color: #FFF; }
