[buildout]
parts +=
#    pcre
    nginx
    nginx-config
    nginx_more_headers
    supervisor
#    nginx_cache_purge
#    nginx_sticky

[nginx]
recipe = hexagonit.recipe.cmmi
url = ${settings:nginx-download}
configure-options =
    --with-http_stub_status_module
    --with-http_ssl_module
    --with-http_v2_module
    --conf-path=${buildout:directory}/etc/nginx/default.conf
    --error-log-path=${buildout:directory}/var/log/nginx/error.log
    --pid-path=${buildout:directory}/var/nginx.pid
    --lock-path=${buildout:directory}/var/nginx.lock
    --add-module=${nginx_more_headers:location}
# If installing in MACOSX El Capitan and above, uncomment the three lines below
# and install OpenSSL via brew: 'brew install openssl'
    --with-cc-opt="-Wno-deprecated-declarations"
    --with-cc-opt=-I/usr/local/opt/openssl/include
    --with-ld-opt=-L/usr/local/opt/openssl/lib
# Just in case we want to add cache purge and sticky sessions to Nginx
#    --add-module=${nginx_sticky:location}
#    --add-module=${nginx_cache_purge:location}
# Works with brew installed pcre since 2014, so this is no longer required
# kept just in case it's required again in the future
#    --with-pcre=${pcre:location}/../pcre__compile__/pcre-8.31

[nginx-config]
recipe = collective.recipe.template
input = ${buildout:directory}/templates.d/nginx.conf
output = ${buildout:directory}/etc/nginx/nginx.conf

[pcre]
recipe = hexagonit.recipe.cmmi
url = ${settings:pcre-download}
keep-compile-dir = true

[nginx_cache_purge]
recipe = hexagonit.recipe.download
url = https://github.com/FRiCKLE/ngx_cache_purge/archive/2.3.tar.gz
strip-top-level-dir = true
ignore-existing = true

[nginx_sticky]
recipe = hexagonit.recipe.download
url = https://bitbucket.org/nginx-goodies/nginx-sticky-module-ng/get/master.tar.gz
strip-top-level-dir = true
ignore-existing = true

[nginx_more_headers]
recipe = hexagonit.recipe.download
url = https://github.com/openresty/headers-more-nginx-module/archive/v0.30.tar.gz
strip-top-level-dir = true
ignore-existing = true

[supervisor]
recipe = collective.recipe.supervisor
port = ${settings:supervisor-host}:${settings:supervisor-port}
user = ${settings:supervisor-user}
password = ${settings:supervisor-password}
programs =
    10 nginx ${nginx:location}/sbin/nginx [-c ${buildout:directory}/etc/nginx/nginx.conf]
